<mat-form-field>
  <span matPrefix>Mr. &nbsp;</span>
  <input matInput placeholder="Your Name"  required #username="ngModel" [(ngModel)]="value">
  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      X
  </button>
  <span matSuffix>kool</span>
  <mat-hint align="start">Don't disclose personal info</mat-hint>
  <mat-hint align="end">12 / 256</mat-hint>
  <mat-error *ngIf="username.invalid && username.errors.required">
    Username is <strong>required</strong>
  </mat-error>
</mat-form-field>
